body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4e73df, #1cc88a);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.card {
    background: white;
    width: 420px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #4e73df;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 12px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    background-color: #4e73df;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #2e59d9;
}

a {
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    color: #4e73df;
    font-weight: bold;
}

.error {
    color: red;
    font-size: 13px;
}

.approved {
    color: green;
    font-weight: bold;
    text-align: center;
}

.rejected {
    color: red;
    font-weight: bold;
    text-align: center;
}